<spotlight-header [data]="model.header"></spotlight-header>
<value-filter [data]="model.valueFilter"></value-filter>
<div>{{model.name}}</div>
<ul>
    <ng-container *ngFor="let analys of model.analysis; let i = index;">
        <ng-container *ngIf="model.pagination.currentIndex === i">
            <li>{{analys.name}}</li>
            <button (click)="svc.changeAnalysisName(analys)">Change Analysis Name</button>
        </ng-container>
    </ng-container>
</ul>
<button (click)="svc.changeSpotlightName(model)">Change Spotlight Name</button>
<pagination-container [data]="model.pagination" (selectPage)="selectPageChanged($event)"
    (pageNumber)="nextOrPreviousPageChanged($event)"
></pagination-container>
