<div class="flex">
  <app-basic-drawer [name]="'testMod'">
    <app-testMod></app-testMod>
  </app-basic-drawer>

<app-basic-drawer [name]="'matTree'">
  <app-matTree></app-matTree>
</app-basic-drawer>

<app-basic-drawer [name]="'flatMatTreeBasic'">
  <app-flatMatTreeBasic></app-flatMatTreeBasic>
</app-basic-drawer>

<app-basic-drawer [name]="'contentProjection'">
  <app-contentProjection></app-contentProjection>
</app-basic-drawer>

<app-basic-drawer [name]="'behaviorSubject'">
  <app-behaviorSubject></app-behaviorSubject>
</app-basic-drawer>

<app-basic-drawer [name]="'listTesting'">
  <app-listTesting></app-listTesting>
</app-basic-drawer>

<app-basic-drawer [name]="'signalTesting'">
  <test-signal></test-signal>
</app-basic-drawer>

<app-basic-drawer [name]="'zoneTesting'">
  <app-zoneParent></app-zoneParent>
</app-basic-drawer>

  <router-outlet></router-outlet>
</div>