<div class="flex">
  <app-basic-drawer>
    <app-testMod></app-testMod>
  </app-basic-drawer>

<app-basic-drawer>
  <app-matTree></app-matTree>
</app-basic-drawer>

<app-basic-drawer>
  <app-flatMatTreeBasic></app-flatMatTreeBasic>
</app-basic-drawer>

<app-basic-drawer>
  <app-contentProjection></app-contentProjection>
</app-basic-drawer>

<app-basic-drawer>
  <app-behaviorSubject></app-behaviorSubject>
</app-basic-drawer>

<app-basic-drawer>
  <app-listTesting></app-listTesting>
</app-basic-drawer>

  <router-outlet></router-outlet>
</div>